
table {
    width: 100%;
}

tr {
    width: 100%;
}

td {
    width: 50%;
}

textarea {
    width: 100%;
    min-height: 200px;
}

div #err {
    z-index: 0;
    color: red;
    background-color: lightyellow;
}
select {
    width: 100%;
}
div .wrapper{
    min-width: 50vw;
    max-width: 100vw;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0;
    border: 0;
    margin: 0;
}

div .syntaxhighlighter {
    overflow: visible !important;
}