
body{
    background-color: #d3d3d3;
}
.output{
    border-top: gray solid 1px;
    overflow: auto;
    max-width: 95vw;
    max-height: 80vh;
}
.raw{
    word-wrap: break-word;
}
.json{
    white-space: pre;
}
textarea{
    width: 80vw;
}


