<html>
    <head>
        <style type="text/css">
            <%= css %>
        </style>
        <title>Test Result</title>
    </head>
    <body>
        <%= html %>
    </body>
    <script type="text/javascript" src="http://clazz.github.io/js/jquery.js"></script>
    <script type="text/javascript">
        <%= javascript %>
    </script>
</html>