<div style="position: absolute; right: 0; top: 0; margin: 0; padding: 0; width: auto; height: auto; background-color: transparent; opacity: 1; z-index: 100;">
    <div style="border: 1px solid #d3d3d3; width: 30em; margin-left: auto; margin-right: auto; margin-bottom: auto; background-color: #EFEFEF; padding: 2em; z-index: 101; opacity: 1;">
        <h1>警示</h1>
        <p>
            此Ajax工具是基于XMLHttpRequest的，由于浏览器安全策略，而只能对Access-Control-Allow-Origin所允许的网站进行访问。
            如需绕过此限制，需要将此文件（及其依赖的文件）打包为chrome扩展并通过设置permissions来修改安全策略。
        </p>
        <p>
            附：打包好的chrome扩展示例：<a href="ajax-tool.crx" download="ajax-tool.crx">ajax-tool.crx</a>.
        </p>
        <div style="text-align: center">
            <button class="btn-ok" style="padding: 0.5em 2em">OK</button>
        </div>
    </div>
</div>
